* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #aaa;
  color: #111;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem auto;
}

#wrapper {
  background-color: #fff;
  height: 22rem;
  min-height: 50vh;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #ccc;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  align-items: flex-start;
}

#box {
  width: 200px;
  height: 200px;
  background-color: #40739e;
  align-self: center;
  /* margin: 0px auto; */
  border-radius: 4px;
  border-style: solid;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 25);
}

h3.title {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.controls {
  /* position: absolute; */

  height: calc(100% - 20px);
  margin: 10px 0px;
  /* top: 1rem;
    right: 1rem; */
  background-color: #ddd;
  /* color: #111; */
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 33.3333%;
}

.controls.box {
  margin-left: 10px;
}
.controls.shadow {
  margin-right: 10px;
}

.input-block {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls .input-block > label {
  font-weight: bold;
  margin-right: 20px;
}

.controls.shadow .input-block input{
    border: 1px solid black;
}

.controls .input-block input {
  width: 5rem;
  /* flex-shrink: 0; */
  font-weight: 700;
  text-align: center;
  outline:none;
  /*   position: absolute;
    right: 6px; */
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.41);
}

#inset{
    box-shadow:none;
}



#css-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 2rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#generated-css {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: monospace;
  width: 80%;
}

.btn {
  cursor: pointer;
  background-color: #111;
  color: #fff;
  border: none;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top:1rem;
}

.btn#copy{
    width: 5rem;
    margin-top:0px;
}

.btn#box-defaults {
  /* width: 10rem; */
}

.btn#copy.success {
  background-color: green;
}

.btn#copy.error {
  background-color: #c74b47;
}

/* .settings {
  width: 90%;
  margin: 1.5rem auto;
  display: flex;
  flex-wrap: wrap;
} */

/* .settings .input-block {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .settings .input-block label {
  margin-bottom: 0.75rem;
} */

/* .settings .input-block input {
  width: 5rem;
  height: 2rem;
  font-size: 1.25rem;
  font-family: inherit;
} */

.settings .input-block input[type='number'] {
  /*   padding-left:1rem; */
  text-align: center;
}

/*Responsiveness*/


